#root {
  font-family: 'Manrope', sans-serif;
  background:hsl(218, 23%, 16%);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  height:100vh
}

.App {
  text-align: center;
  background:hsl(217, 19%, 24%);
  border-radius:10px;
  padding:50px;
  max-width:440px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position:relative;
}

.number {
  font-size:14px;
  color:hsl(150, 100%, 66%);
  text-transform: uppercase;
  margin-bottom:35px;
  letter-spacing: 2px;
}

.advice {
  font-size:28px;
  color:hsl(193, 38%, 86%);
  margin:0;
  line-height: 125%;
  margin-bottom:35px;
}

.divider {
  margin-bottom:35px;
}

.advice-btn {
  background:hsl(150, 100%, 66%) url('./icon-dice.svg') no-repeat center center;
  height:65px;
  width:65px;
  display:block;
  border-radius:50%; 
  border-color:transparent;
  transition: all 0.3s ease;
  margin-bottom: -80px;
}

.advice-btn:hover {
  cursor: pointer;
  box-shadow:0 0 25px rgb(0, 255, 128);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: roll;
  animation-timing-function: linear;
}
@keyframes roll {
  from  {
    transform: rotate(360deg);
 }
 to {
    transform: rotate(0deg);
  }	
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.dividerDt {
  display:block;
}
.dividerMob {
  display:none;
}

@media (max-width:375px) {
  #root {
    padding:15px;
  }
  .App {
    padding-left:0;
    padding-right:0;
    max-width:100%;
  }

  .App p {
    padding:0 15px;
  }
  .advice-btn {
    margin-bottom: -55px;
  }
  .dividerDt {
    display:none;
  }
  .dividerMob {
    display:block;
  }
}